<%- include('header') -%>

<h2>This is the about page</h2>

<p>jdfje okeferpi knsad ciwef regireg  frjfw a,nf esciwfew oiger geq mnbfuwehfw l,n giregjf  nwfkwehf kjg k wek</p>

<%- include('footer') -%>